body {
    font-family: sans-serif;
    width: 1024px;
    margin: auto;
    background-color: wheat;
}

nav {
    display: flex;
}

/* Nav-bar header */
body>header {
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

/* List of menu items */
body>header>nav>ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    align-items: center;
}
/* Menu item */
body>header>nav>ul>li {
    display: flex;
    align-items: center;
    height: 100%;
}


body>header>nav>ul>li>a {
    background-color: royalblue;
    height: 100%;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-vertical {
    height: 100%;
}

/* Login/Home button */
body>header>a {
    background-color: lightblue;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Text Logo */
body>header>h1 {
    margin-top: 0%;
}